body {
    font-family: 'Open Sans';
    background-color: #f0f0f0;
    margin: 50px;
}

a {
   text-decoration: none;
   color:#50af36;
   font-style: bold;
}

h1.RP{
    text-align: center;
    color:#00703C;
    font-size: 45px;
}
.containers {
    display: flex;
    justify-content: space-between;
}

.boxes {
    flex-basis: calc(33.33% - 20px); /* Adjust the width of each box */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.content {
    text-align: center;
}

.Name{
    margin: 0;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 25px;
    color:#00703C;
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

