body {
    font-family: 'Open Sans';
    margin: 50px;
}

h1.CEL{
    text-align: center;
    color:#00703C;
    font-size: 45px;
}
h2 {
    text-align: left;
    color:#00703C;
}

.sum{
   text-align:center;
    color:#00703C;
}

.image-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.image {
    flex: 1;
    margin: 5px;
}

.image img {
    width: 100%;
    height: auto;
}

.description {
    text-align: left;
}

p.head {
   text-align: left;
   font-weight: bold;
}

.boxes {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    width: 1000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the box on the page */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

p {
   text-align: center;
}

th {
    background-color: #f0f0f0;
}
