body {
    font-family: 'Open Sans';
    background-color: #f0f0f0;
    margin: 50px;
}

h1.DF{
    text-align: center;
    color:#00703C;
    font-size: 45px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

a {
   text-decoration: none;
   color:#50af36;
   font-style: bold;
}

.boxes {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.content {
    text-align: center;
}

h2 {
    margin: 0;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 30px;
    color:#00703C;
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
