body {
    font-family: 'Open Sans';
    margin: 50px;
}

h1.LF{
    text-align: center;
    color:#00703C;
    font-size: 45px;
}
h2 {
    text-align: left;
    color:#00703C;
}

.image-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.image {
    flex: 1;
    margin: 5px;
}

.image img {
    width: 100%;
    height: auto;
}

.description {
    text-align: left;
}

p.head {
   text-align: left;
   font-weight: bold;
}
