/*--------------Header-----------*/
.border h1{
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    font-family: 'Ek Mukta';
    font-size: 35px;
}

.border{
    width:100%;
    z-index: 2;
    background-color:#428f2c;
    left:0;
}

.border img{
    height: 60px;
    position:fixed;
    margin: 0px 0px 0px -73px
}

.top{
    height:65px;
    position:fixed;
    top: 0;
}

.bot{
    height: 90px;
    margin-top: -13px;
}

.menuItem {
    display: block;
    margin: 2rem 1rem;
    font-size: 1.8rem;
    color: black;
    text-decoration: underline;
    text-align: left;
    font-family: 'Ek Mukta';
}
.menuItem:hover {
    font-weight: bold
}

.hamburger {
    position: fixed;
    width: 35px;
    height: 35px;
    z-index: 4;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 49px;
    left: 0;
    height: 87.5%;
    z-index: 3;
    background: #aae09c;
    color: white;
    list-style: none;
    padding-top: 4rem;
    border-right: 1px solid black;
    overflow-y: scroll;
}

.showMenu {
    transform: translateX(0);
}



/*------------------Content----------------------*/
.box{
    position: fixed;
    left: 0;
    top: 4.8%;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
}
.container{
    z-index: 0;
    position: relative;
    display: grid;
    place-items: center;
    flex: 0 1 auto;
}
.slider {
    width: 100%;
    max-width: 100%;
    height: 600px;
    position: relative;
    left: 0;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 100%;
    height: 600px;
    position: absolute;
    transition: all 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 50px;
    height: 100px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #caecc1;
    opacity: 40%;
    font-size: 20px;
}
.btn:hover{
    background-color: #50af36;
    opacity: 90%
}
.btn:active {
    transform: scale(1.1);
}
.btn-prev {
    top: 40%;
    left: 0.0001%;
}

.btn-next {
    top: 40%;
    right: 0.0001%;
}

.hometable{
    width: 100%; 
    border-collapse: collapse;
    position: absolute;
    border: 1px solid black;
    margin-bottom: 15px;
    table-layout: fixed;
}
.hometable th{ 
    text-decoration: underline;
    border: 3px solid black;
    font-size: 21px;
    font-family: 'Ek Mukta';
}

.CustomShape {
    font-size: 5mm;
    color: black;
    background: #aae09c;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    max-width: 100px;
    animation-fill-mode: forwards;
    text-align: justify;
}

.CustomShape:after {
    content: "";
    border: 20px solid transparent;
    position: absolute;
    border-top-color: #aae09c;
    border-bottom: 0;
    bottom: -20px; 
    left: 50%;
    margin-left: -20px;
    display: inline;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; visibility: hidden;}
  100% { opacity: 1; visibility: visible;}
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; visibility: visible;}
  100% { opacity: 0; visibility: hidden;}
}

.vision{
    font-weight: normal;
    max-width: 22.5%;
    bottom: 60px;
    visibility: hidden;
    font-family: 'Ek Mukta';
    font-size: 16px;
} 

.mission{
    font-weight: normal;
    max-width: 23%;
    bottom: 60px;
    visibility: hidden;
    font-family: 'Ek Mukta';
    font-size: 16px;
}

.PH{
    font-weight: normal;
    max-width: 23%;
    bottom: 60px;
    visibility: hidden;
    font-family: 'Ek Mukta';
    font-size: 16px;
}

.contact{
    font-weight: normal;
    max-width: 50%;
    bottom: 60px;
    visibility: hidden;
    font-family: 'Ek Mukta';
    font-size: 16px;
}

::selection {
	background-color: #50af36;
	color: #ffffff;
  }